<div class="books container">
{{#each books}}
<li>
<h3 class="title">{{this.title}}</h3>
<p class="summary">{{this.summary}}</p>
<p class="isbn">{{this.isbn}}</p>
<p><a href="/catalog/author/"+{{this.author._id}}>{{this.author.first_name}}</a></p>
<h4>Genres: </h4>
{{#each this.genre}}
<li><a href="/catalog/genre/"+{{this.name}}>{{this.name}}</a></li>
{{/each}}
{{/each}}
</div>