<div class="book-instances">
    {{#each bookInstances}}
    <li>
        <h5 class="text-center"><a href={{this.book.url}}>{{this.book.title}}</a></h3>
        <p><b>Status:</b> {{this.status}}</p>
        <p><b>Due Back:</b> {{this.due_back}}</p>
        <p><b>Imprint:</b> {{this.imprint}}</p>
    </li>
    {{/each}}
</div>